.App {

}

.card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  color: rgb(255 91 71);
  font-size: 13px;
  border-bottom: 1px solid rgb(255 91 71);
  margin: 3px;
  margin-top: 5px;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input {
  border: none;
  border-bottom: solid thin rgb(170 170 170);
  padding: 1%;
  margin-top: 3px;
}

.new-pin-submit {
  border: none;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: rgb(255 91 71)
}

.description {
  font-size: 14px;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 11px;
}

.star {
  color: rgb(250 230 0);
}