.App {

}

.card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  color: rgb(255 91 71);
  font-size: 13px;
  border-bottom: 1px solid rgb(255 91 71);
  margin: 3px;
}

.description {
  font-size: 14px;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 11px;
}

.star {
  color: rgb(250 230 0);
}